<!DOCTYPE html>
<html>
  <head>
    <title>My first web page</title>
    <link rel="stylesheet" href="../assets/stylesheets/index.css">
  </head>
  <body class="montserrat-regular">
    <h1 id="head" style="border: solid 2px black">
      <a href="#footer">The headline</a>
    </h1>
    <p style="border: solid 2px black">
      Lorem ipsum dolor
      <strong style="border: solid 2px red"
        >sit amet consectetur adipisicing elit. Error placeat numquam natus
        debitis</strong
      >
      doloremque iusto sequi animi, odio voluptate fuga excepturi quibusdam
      dolores, tempore recusandae magni facilis expedita laudantium vitae?
    </p>
    <p style="border: solid 2px black">
      Lorem ipsum dolor sit,
      <em style="border: solid 2px red"
        >amet consectetur adipisicing elit. Similique temporibus repudiandae
        error</em
      >
      quo hic quam mollitia dolorum libero cupiditate ducimus sunt adipisci
      atque, ea beatae ex tempore aperiam, necessitatibus iste?
    </p>
    <div style="border: solid 2px black">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae deserunt
      accusamus consectetur doloribus consequuntur voluptate cum animi
      asperiores, exercitationem et minima deleniti, molestias consequatur
      perferendis illo itaque odit ad voluptatibus?
    </div>
    <div style="border: solid 2px black">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae deserunt
      accusamus consectetur doloribus consequuntur voluptate cum animi
      asperiores, exercitationem et minima deleniti, molestias consequatur
      perferendis illo itaque odit ad voluptatibus?
      <button style="border: solid 2px black">Submit</button>
    </div>
    <img src="./assets/images/paolo-candelo-n0Vk5bOFKp4-unsplash.jpg" alt="parrot" width="400px" height="400px">
    <br>
    <br>
    <br>
    <br>
    <form action="" method="">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">

      <label for="email">Email</label>
      <input type="email" id="email">

      <label for="password">Password</label>
      <input type="password" id="password">

      <label for="pdf">File</label>
      <input type="file" id="pdf">

      <label for="textarea">Description</label>
      <textarea type="textarea">Your comments</textarea>
      <p>Which music type do you like?
        <input type="radio" name="music" id="music" checked>Classic
        <input type="radio" name="music" id="music">Rap
        <input type="radio" name="music" id="music">Rock
      </p>
      <p>
        Please select your favourite music:
        <input type="checkbox" name="musictype" id="musictype" value="classic" checked>Classic
        <input type="checkbox" name="musictype" id="musictype" value="rap">Rap
        <input type="checkbox" name="musictype" id="musictype" value="rock">Rock
      </p>
      <p>
        What device do you listen Quran on?
        <select name="devices">
          <option value="iphone">Iphone</option>
          <option value="Ipod">Ipod</option>
          <option value="Computer">Computer</option>
        </select>
      </p>

      <iframe src="http://127.0.0.1:5500/other_pages/contact.html" height="400" width="600" title="Iframe Example"></iframe>

      <button type="button">Submit</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      <h1 id="footer">
        <a href="#head">Footer</a>
      </h1>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p><p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      voluptates facilis laboriosam earum temporibus fugit accusantium quaerat
      perspiciatis velit deleniti dolore, tenetur reiciendis autem,
      necessitatibus, sint iusto sit eum nisi.
    </p>
    <!-- Link to another website -->
    <p>
      <a href="https://www.digitalocean.com/" target="_blank">DigitalOcean</a>
    </p>
    <!-- Link to same website another page -->
    <p><a href="./other_pages/contact.html">Contact us</a></p>
    <p><a href="./other_pages/about_us.html">About us</a></p>
    <!-- Link to same website same page -->
  </body>
</html>
