<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index with header</title>
    <link rel="stylesheet" href="../assets/stylesheets/index_with_header.css" />
  </head>
  <body class="montserrat-regular">
    <nav class="navbar">
      <div class="left_nav">
        <div class="montserrat-bold">Happy Web</div>
        <div>Home</div>
        <div>Contact</div>
        <div>About us</div>
      </div>
      <div class="right_nav">
        <button class="login-btn">Log in</button>
        <button class="signup-btn">Sign up</button>
      </div>
    </nav>
  </body>
</html>
